<div class="footer-background">
    <img src="assets/footerBackground.png" alt="">

    <div class="links">
        <a href="mailto: kevinribe@gmail.com"> 
            <img src="assets/mail.png" alt="EMAIL">
        </a>
       <a href="https://www.linkedin.com/in/kevin-duarte-210a58207/" target="_blank">
            <img src="assets/linkedin.png" alt="Linkedin Logo">
       </a>
       <a href="https://github.com/kevinDRibeiro" target="_blank">
            <img src="assets/git.png" alt="Github Logo">
       </a>
    </div>
</div>
