<div class="container">

    <h1>DÊ UMA OLHADA NOS MEUS PROJETOS PARA TER UMA IDEIA DO QUE POSSO CRIAR PARA VOCÊ.</h1>

    <div class="cards row">
    
        <mat-card class="project-card col-md-6  col-12">
            <a href="https://espacosalutarrio.com.br/" target="_blank">
                <img mat-card-image src="../../assets/espacoSalutarSite.png" alt="Pré visualização de site entregue a cliente">
            </a>
            <mat-card-content class="content">
              <p>
                Site feito utilizando Html, CSS e Javascript. Desgin e implementação feitos em parceria com <a href="https://www.linkedin.com/in/igorclarkti/" target="_blank">Igor Clack</a>
              </p>
            </mat-card-content>
        </mat-card>
    
        <mat-card class="project-card col-md-6 col-12">

            <a href="https://esteticaconceitorj.com.br/" target="_blank">
                <img mat-card-image src="../../assets/esteticaConceitoSite.png" alt="Pré visualização de site entregue a cliente">
            </a>
            <mat-card-content class="content">
              <p>
                Design criado por mim e implementado utilizando wordpress.
              </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
