<div class="container">

  <h1>DÊ UMA OLHADA NOS MEUS PROJETOS PARA TER UMA IDEIA DO QUE POSSO CRIAR PARA VOCÊ.</h1>

  <div class="cards row">

      <mat-card class="project-card col-md-6  col-12">
          <a href="https://espacosalutarrio.com.br/" target="_blank">
              <img mat-card-image src="../../assets/espacoSalutarSite.png" alt="Pré visualização de site entregue a cliente">
          </a>
          <mat-card-content class="content">
            <p>
              Criado utilizando Html, CSS, Javascript e hospedado pela Hostgator. Desgin e implementação feitos em parceria com Igor Clack.
            </p>
          </mat-card-content>
      </mat-card>

      <mat-card class="project-card col-md-6 col-12">

          <a href="https://esteticaconceitorj.com.br/" target="_blank">
              <img mat-card-image src="../../assets/esteticaConceitoSite.png" alt="Pré visualização de site entregue a cliente">
          </a>
          <mat-card-content class="content">
            <p>
              Design criado por mim e implementado utilizando wordpress. Projeto feito em parceria com a <a href="https://agenciashinka.com.br/" target="_blank">Agência Shinka</a>
            </p>
          </mat-card-content>
      </mat-card>

      <mat-card class="project-card col-md-6 col-12">

        <img mat-card-image src="../../assets/portfolio.png" alt="Pré visualização do meu portfólio">
        <mat-card-content class="content">
          <p>
            Meu portfólio é construído com Angular e hospedado pela Vercel. Confira o código-fonte no meu <a href="https://github.com/kevinDRibeiro/sitePortfolio" target="_blank">Github</a> e descubra como posso ajudar a atingir seus objetivos.
          </p>
        </mat-card-content>
    </mat-card>
  </div>
</div>
