
.nav-banner {
    position: relative;
    display: flex;
    justify-content: center;

    img {
        position: absolute;
        width: 100%;
        height: 102px;
        background-position: center center;
        background-repeat: no-repeat;
        object-fit: cover;
        overflow: hidden;
    }

    .name {
        position: absolute;
        width: 100%;
        max-width: 1200px;
        color: #fff;
        margin: 3px 0 0 40px;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 89px;
    }

    
    @media only screen and (max-width: 750px) {
        .name {
            font-size: 30px;
            padding: 3% 0 0 0;
            margin: 0;
            width: 83%;
        }
    }
}

nav{
    display: flex;
    justify-content: center;


    @media only screen and (max-width: 600px) {
        ul {
            width: 100%;
            padding: 0;
        }
    }


    ul {
        margin: 7rem 0 0 0;
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        
        h1 {
            margin-top:0;
            width: 50%;
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 600;
            font-size: 50px;
            line-height: 74px;
            color: #79007F;
        }
        li {
            width: 12.5%;
            margin-top: 11px;
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #79007F;
            display: flex;
            justify-content: center;
            list-style-type: none;
            a {
                text-decoration: none;
            }
        }

        
        @media only screen and (max-width: 1200px) {
            
            h1 {
                font-size: 35px;
                width: 20rem;
                position: relative;
                top: -7px;
            }
        }

        @media only screen and (max-width: 750px) {
            h1 {
                display: none;
            }
            li {
                font-size: 15px;
                width: 25%;
            }
        }

        a:active {
            color: #8a0d90;
        }

        a:hover {
            color: #8a0d90;
        }
    }
    
}
