@font-face {
  font-family: 'oswald';
  src: url('../assets/fonts/Oswald-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswald-light';
  src: url('../assets/fonts/Oswald-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}