<div class="nav-banner">
    <img src="../../assets/navBackground.jpg" alt="">
    <h1 class="name">KEVIN DUARTE </h1>
</div>
<nav>
    <ul>
        <h1>FULLSTACK DEVELOPER</h1>
        <li><a routerLink="">{{ ptbr? 'INÍCIO' : 'HOME'}}</a></li>
        <li><a routerLink="/curriculo">{{ ptbr? 'CURRÍCULO' : 'RESUME'}}</a></li>
        <li><a routerLink="/projetos">{{ ptbr? 'PROJETOS' : 'PROJECTS'}}</a></li>
        <li><a (click)="scroll()">{{ ptbr? 'CONTATO' : 'CONTACT'}}</a></li>
        <li  (click)="changeLanguage()"><a>{{ ptbr? 'ENGLISH' : 'PTBR'}}</a></li>
    </ul>
</nav>  