<div class="container">
    <section class="row banner">
        <div class="col-5 imageContainer">
            <img src="../../assets/bannerRings.png" class="bannerOrnament" alt="Ornamento visual feito de circulos">
            <img src="../../assets/bannerFace.png" class="bannerFace" alt="Foto do desenvolvedor que voce vai contratar">
        </div>
        
        <h1 class="col-7">
            {{ ptbr? 'TRANSFORME SUAS IDEIAS EM REALIDADE COM UM DESENVOLVEDOR DE CONFIANÇA' : 'TURN YOUR IDEAS INTO REALITY WITH A TRUSTED DEVELOPER'}}
        </h1>
    </section>
    <div class="divisor">
        <img class="divisor-desktop" src="../../assets/divisor.png" alt="divisor de pagina com título">
        <img class="divisor-mobile" src="../../assets/divisorMobile.png" alt="divisor de pagina com título">
        <h1>{{ptbr? 'CONHEÇA MEU TRABALHO': 'GET TO KNOW MY WORK'}}</h1>
    </div>
    <section class="projects">
        <p> 
            {{ptbr? 'Ofereço uma ampla variedade de tecnologias para entregar projetos para meus clientes, incluindo Angular, TypeScript, Java e WordPress.'
                : 'I offer a wide range of technologies to deliver projects to my clients, including Angular, TypeScript, Java, and WordPress.'}}
            <br><br>
            {{ptbr? 'Essas ferramentas permitem que eu crie soluções personalizadas para atender às necessidades específicas de cada cliente, garantindo alta qualidade e eficiência em todas as entregas.'
                : 'These tools allow me to create custom solutions to meet the specific needs of each client, ensuring high quality and efficiency in all deliveries.'}}
            
        </p>
        <button mat-button
        (click)="scrollTop()"
        routerLink="/projetos">
        {{ptbr? 'VER PROJETOS': 'SEE PROJECTS'}}
        </button>
    </section>
</div>
