<div class="container">

  <h1> {{ptbr? 'DÊ UMA OLHADA NOS MEUS PROJETOS PARA TER UMA IDEIA DO QUE POSSO CRIAR PARA VOCÊ.' 
      : 'CHECK OUT MY PROJECTS TO GET AN IDEA OF WHAT I CAN CREATE FOR YOU.'}}</h1>

  <div class="cards row">

      <mat-card class="project-card col-md-6  col-12">
          <a href="https://espacosalutarrio.com.br/" target="_blank">
              <img mat-card-image src="../../assets/espacoSalutarSite.png" alt="Pré visualização de site entregue a cliente">
          </a>
          <mat-card-content class="content">
            <p>
              {{ptbr? 'Criado utilizando Html, CSS, Javascript e hospedado pela Hostgator. Desgin e implementação feitos em parceria com Igor Clack.' 
                : 'Created using HTML, CSS, and JavaScript, and hosted by Hostgator. Design and implementation done in partnership with Igor Clack.'}}
            </p>
          </mat-card-content>
      </mat-card>

      <mat-card class="project-card col-md-6 col-12">

          <a href="https://esteticaconceitorj.com.br/" target="_blank">
              <img mat-card-image src="../../assets/esteticaConceitoSite.png" alt="Pré visualização de site entregue a cliente">
          </a>
          <mat-card-content class="content">
            <p>
              {{ptbr? 'Design criado por mim e implementado utilizando wordpress. Projeto feito em parceria com a ' : 'Design created by me and implemented using WordPress. Project done in partnership with '}}
              <a href="https://agenciashinka.com.br/" target="_blank">Agência Shinka</a>
            </p>
          </mat-card-content>
      </mat-card>

      <mat-card class="project-card col-md-6 col-12">

        <img mat-card-image src="../../assets/portfolio.png" alt="Pré visualização do meu portfólio">
        <mat-card-content class="content">
          <p>
            {{ptbr? 'Meu portfólio é construído com Angular e hospedado pela Vercel. Confira o código-fonte no meu ' 
            : 'My portfolio is built with Angular and hosted by Vercel. Check out the source code on my '}}

            <a href="https://github.com/kevinDRibeiro/sitePortfolio" target="_blank">Github</a>
            {{ptbr? ' e descubra como posso ajudar a atingir seus objetivos.': ' and find out how I can help you achieve your goals.'}}
          </p>
        </mat-card-content>
    </mat-card>
  </div>
</div>
