<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <h1>QUALIFICAÇÕES</h1>
            <skill-set title="Frontend" [skills]="front">
            </skill-set>
            <skill-set title="Backend" [skills]="back">
            </skill-set>
            <skill-set title="Utilities" [skills]="utilities">
            </skill-set>
        </div>
        <div class="col-md-7 col-sm-12">
            <h1>EXPERIÊNCIA</h1>
            <div class="row">
                <div class="col-1">
                    <div class="dot">
                    </div>
                    <div class="line"></div>
                </div>
                <div class="exp col-11">
                    <h3>Front-end Developer</h3>
                    <h4>Mycapital | Julho 2022 - Fevererio 2023</h4>
                    <li>
                        Desenvolvimento de projetos a partir de protótipos e especificações utilizando Angular, Typescript, React, Node e Sass.
                    </li>
                    <li>
                        Experiência em testes unitários com Jasmine e Karma.
                    </li>
                    <li>
                        Devops aplicado ao dia a dia e uso de sistemas azure.
                    </li>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <div class="dot">
                    </div>
                </div>
                <div class="exp col-11">
                    <h3>Front-end Developer</h3>
                    <h4>BMS Projetos e consultoria | Agosto 2021 - Julho 2022</h4>
                    <li>
                        Atuei na criação de layouts, novos componentes e na manutenção dos mesmos. Desenvolvendo para sites , sistemas internos e produtos da empresa.
                    </li>
                    <li>
                        Front com Angular, javascript, typescript e bootstrap.
                    </li>
                    <li>
                        Contato diário com a metodologia Scrum.
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
