<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <h1>
                {{ptbr? 'QUALIFICAÇÕES' : 'QUALIFICATIONS'}}
            </h1>

            <skill-set title="Frontend" [skills]="front">
            </skill-set>
            <skill-set title="Backend" [skills]="back">
            </skill-set>
            <skill-set title="Utilities" [skills]="utilities">
            </skill-set>
        </div>
        <div class="col-md-7 col-sm-12">
            <h1>
                {{ptbr? 'EXPERIÊNCIA' : 'EXPERIENCE'}}
            </h1>

            <div class="row">
                <div class="col-1">
                    <div class="dot">
                    </div>
                    <div class="line"></div>
                </div>
                <div class="exp col-11">
                    <h3>Front-end Developer</h3>
                    <h4>Mycapital | {{ptbr? 'Julho' : 'July'}} 2022 - {{ptbr? 'Fevererio' : 'February'}} 2023</h4>
                    <li>
                        {{ptbr? 'Desenvolvi a partir de protótipos e especificações, criando funcionalidades para o sistema B2C e atualizações para o site institucional.' 
                        : 'Developed features for the B2C system and updates for the institutional website based on prototypes and specifications.'}}
                    </li>
                    <li>
                        {{ptbr? 'Cobertura de testes unitários, reduzindo o custo de manutenção e futuros bugs.' 
                        : 'Unit test coverage, reducing maintenance costs and future bugs.'}}
                    </li>
                    <li>
                        {{ptbr? 'Devops para redução de tempo de deploy.'
                        : 'Devops to reduce deployment time.'}}
                    </li>
                    <li>
                        {{ptbr? 'Contribui na manutenção dos sistemas B2C.'
                        : 'Contributed to the maintenance of B2C systems.'}}
                    </li>
                    <li>
                        {{ptbr? 'Tecnologias: Angular, Typescript, Scss, Jasmine, Karma, Mysql, Storybook, Figma e Azure. '
                        : 'Technologies: Angular, Typescript, Scss, Jasmine, Karma, Mysql, Storybook, Figma, and Azure.'}}
                    </li>
                </div>
            </div>

            <div class="row">
                <div class="col-1">
                    <div class="dot">
                    </div>
                </div>
                <div class="exp col-11">
                    <h3>Front-end Developer</h3>
                    <h4>BMS Projetos e consultoria | {{ptbr? 'Agosto' : 'August'}} 2021 - {{ptbr? 'Julho' : 'July'}} 2022</h4>
                    <li>
                        {{ptbr? 'Atuei no desenvolvimento de diversos projetos desde os protótipos. Incluindo sites, CRM, sistema de Gestão de Afastados e outros produtos da empresa.' 
                        : 'I worked on the development of various projects, from prototypes to finished products. These projects included websites, CRM systems, absentee management systems, and other company products.'}}
                    </li>
                    <li>
                        {{ptbr? 'Aplicação de Scrum com time multidisciplinar que resultou em redução de alteração de requisitos.'
                        : 'Application of Scrum with a multidisciplinary team that resulted in a reduction in requirement changes.'}}
                    </li>
                    <li>
                        {{ptbr? 'Contribui na solução de problemas relacionados a Front end.' 
                        : 'Contributed to the solution of problems related to Front end.'}}
                    </li>
                    <li>
                        {{ptbr? 'Tecnologias: Angular, Typescript, Javascript, Jquery, Bootstrap, Css.' 
                        : 'Technologies: Angular, Typescript, Javascript, Jquery, Bootstrap, Css.'}}
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
