<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <h1>QUALIFICATIONS</h1>
            <skill-set title="Frontend" [skills]="front">
            </skill-set>
            <skill-set title="Backend" [skills]="back">
            </skill-set>
            <skill-set title="Utilities" [skills]="utilities">
            </skill-set>
        </div>
        <div class="col-md-7 col-sm-12">
            <h1>WORK EXPERIENCE</h1>
            <div class="exp">
                <h3>Front-end Developer</h3>
                <h4>Mycapital | July 2022 - February 2023</h4>
                <li>
                    Development of projects based on prototypes and specifications using Angular, Typescript, React, Node, and Sass. 
                </li>
                <li>
                    Experience in unit testing with Jasmine and Karma.
                </li>
                <li>
                    DevOps applied in day-to-day tasks and use of Azure systems.
                </li>
            </div>
            <div class="exp">
                <h3>Front-end Developer</h3>
                <h4>BMS Projetos e consultoria | August 2021 - July 2022</h4>
                <li>
                    I worked on creating layouts, new components, and maintaining them, developing for websites, internal systems, and company products. 
                </li>
                <li>
                    Front-end with Angular, JavaScript, Typescript, and Bootstrap.
                </li>
                <li>
                    Back-end using PHP.
                </li>
                <li>
                    Daily contact with the Scrum methodology.
                </li>
            </div>
        </div>
    </div>
</div>
