.container {
    max-width: 1200px;
    padding: 1.25rem 1%;

    h1 {
        padding: 2rem 0 2.5rem 0;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 59px;
        color: #79007F;
    }

    h3 {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 52px;
        color: #79007F;
    }

    h4 {
        padding: 0 0 1rem 0;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 37px;
        color: #79007F;
    }

    li {
        font-family: 'Oswald-light';
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 37px;
        color: #79007F;
    }

    li::marker {
        font-size: 12px;
    }

    .exp {
        padding: 0 0 1rem 0;
    }

    .col-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dot {
        margin: 1.5rem 0 0 0;
        height: 10px;
        width: 10px;
        background-color: #79007F;
        border-radius: 50%;
    }
    .line {
        border-left: 2px solid #79007F;
        display: block;
        height: 100%;
        margin: 0 auto;
        width: 2px;
        position: relative;
        top: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        padding: 1.25rem 5% 1.25rem 5%;
    }
}
