<div class="container">
    <section class="row banner">
        <img src="../../assets/banner.png" alt="Foto de perfil do desenvolvedor que você vai contratar">
        <h1 class="col-7">
            TRANSFORME SUAS IDEIAS EM REALIDADE COM UM DESENVOLVEDOR DE CONFIANÇA
        </h1>
    </section>
    <div class="divisor">
        <img class="divisor-desktop" src="../../assets/divisor.png" alt="divisor de pagina com título">
        <img class="divisor-mobile" src="../../assets/divisorMobile.png" alt="divisor de pagina com título">
        <h1>CONHEÇA MEU TRABALHO</h1>
    </div>
    <section class="projects">
        <p>
            Ofereço uma ampla variedade de tecnologias para entregar projetos para meus clientes, incluindo Angular, TypeScript, Java e WordPress.
            <br><br>
            Essas ferramentas permitem que eu crie soluções personalizadas para atender às necessidades específicas de cada cliente, garantindo alta qualidade e eficiência em todas as entregas.
        </p>
        <button mat-button
        (click)="scrollTop()"
        routerLink="/projetos">
        VER PROJETOS
        </button>
    </section>
</div>
