div {
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        
        img {
            position: relative;
            z-index: -1;
            top: -10rem;
            left: -13rem;
            width: 75%;
        }


        h1 {
            word-wrap: break-word;
            position: absolute;
            margin: 7% 0 0 30%;
            width: 38rem;
            min-height: 500px;
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 52px;
            color: #79007F;
        }

        @media screen and (max-width: 1800px){
            h1 {
                margin: 7% 0 0 40%;
            }
        }
        
        @media screen and (max-width: 1200px){
            h1 {
                width: 33rem;
                font-size: 30px;
                min-height: 350px;
            }
        }

        @media screen and (max-width: 1200px){
            h1 {
                width: 50%;
            }
        }

        @media screen and (max-width: 750px){
            h1 {
                margin: 15% 0 0 40%;
                width: 55%;
                font-size: 16px;
            }
            img {
                width: 85%;
                top: -3rem;
                left: -8rem;
            }
        }
    }

}

